.taskFilter {
    margin: 48px 0;
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.taskFilter-button {
    width: 120px;
    height: 40px;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #6702c5;
    font-weight: 500;
    cursor: pointer;
}

.taskFilter-button:hover {
    background-color: #9634f1;
}

.taskFilter-button.active {
    background-color: #8b0985;
}

.taskFilter-button.active:hover {
    background-color: #9634f1;
}

@media only screen and (max-width: 768px) {
    .taskFilter {
        width: 100%;
        flex-wrap: wrap;
    }

}

@media only screen and (max-width: 320px) {
    .taskFilter-button:last-child {
        margin-top: 24px;
    }
}